<header class="nav-header">
  <nav class="primary-nav">
    <div class="main-elements">
      <!-- Dropdown / Navigation Elements -->
      <img src="../../assets/logo.svg" alt="sneakers logo" />
      <button class="menu-btn" role="button" aria-expanded="false">
        <img src="../../assets/icon-menu.svg" alt="" aria-hidden="true" />
      </button>
      <div class="nav-elements">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#collections">Collections</a>
          </li>
          <li class="nav-item">
            <a href="#men">Men</a>
          </li>
          <li class="nav-item">
            <a href="#women">Women</a>
          </li>
          <li class="nav-item">
            <a href="#about">About</a>
          </li>
          <li class="nav-item">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- Details Elements -->
      <div class="details-elements">
        <button class="cart-btn" role="button" aria-expanded="false">
          <img src="../../assets/icon-cart.svg" alt="" aria-hidden="true" />
        </button>
      </div>
    </div>
  </nav>
</header>
