<header class="nav-header">
  <nav class="primary-nav">
    <div class="main-elements">
      <!-- Dropdown / Navigation Elements -->
      <img src="../../assets/logo.svg" alt="sneakers logo" />
      <button
        class="btn menu-btn"
        role="button"
        aria-expanded="false"
        aria-label="open mobile menu"
      >
        <img src="../../assets/icon-menu.svg" alt="" aria-hidden="true" />
      </button>
      <div class="nav-elements">
        <!-- Dropdown Items -->
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#collections">Collections</a>
          </li>
          <li class="nav-item">
            <a href="#men">Men</a>
          </li>
          <li class="nav-item">
            <a href="#women">Women</a>
          </li>
          <li class="nav-item">
            <a href="#about">About</a>
          </li>
          <li class="nav-item">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Details Elements -->
    <div class="details-elements">
      <button
        class="btn cart-btn"
        role="menu"
        aria-expanded="false"
        aria-label="toggle shopping cart"
      >
        <img src="../../assets/icon-cart.svg" alt="" aria-hidden="true" />
      </button>
      <button
        class="btn profile-btn"
        role="menu"
        aria-expanded="false"
        aria-label="open user settings"
      >
        <img src="../../assets/image-avatar.png" alt="" aria-hidden="true" />
      </button>
    </div>
  </nav>
</header>
