// Header & Navbar Styles
.nav-header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn {
  display: grid;
  place-items: center;

  padding: 0.3em;

  cursor: pointer;
}

.primary-nav,
.main-elements,
.details-elements {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.primary-nav {
  display: flex;

  margin: auto;
  padding: 1em;
}

.main-elements {
  flex-direction: row-reverse;
  align-items: baseline;
}

// Main Navigation Styles
.nav-elements {
  position: absolute;
  left: 0px;
  top: 0px;

  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  background-color: white;
  height: 100vh;
  width: 70%;
  max-width: 400px;

  padding: 1.5em;

  font-weight: bold;
  .nav-item:first-child {
    margin-bottom: 2em;
  }
}

// Details Styles
.details-elements {
  margin-left: auto;
  .profile-btn {
    img {
      width: 24px;
    }
  }
}

// Responsiveness
