<header class="nav-header">
  <nav class="primary-nav">
    <div class="main-elements">
      <!-- Dropdown / Navigation Elements -->
      <img class="logo" src="../../assets/logo.svg" alt="sneakers logo" />
      <button
        class="btn menu-btn"
        role="menu"
        attr.aria-expanded="{{ isNavOpen }}"
        aria-label="open mobile menu"
        (click)="toggleNavigation()"
      >
        <img src="../../assets/icon-menu.svg" alt="" aria-hidden="true" />
      </button>
      <div class="nav-elements" [ngClass]="isNavOpen ? '' : 'hidden'">
        <!-- Dropdown Items -->
        <ul class="nav-list">
          <li class="nav-item">
            <button
              class="btn close-btn"
              role="menu"
              attr.aria-expanded="{{ isNavOpen }}"
              aria-label="close mobile menu"
              (click)="toggleNavigation()"
            >
              <img
                src="../../assets/icon-close.svg"
                alt=""
                aria-hidden="true"
              />
            </button>
          </li>
          <li class="nav-item">
            <a href="#collections">Collections</a>
          </li>
          <li class="nav-item">
            <a href="#men">Men</a>
          </li>
          <li class="nav-item">
            <a href="#women">Women</a>
          </li>
          <li class="nav-item">
            <a href="#about">About</a>
          </li>
          <li class="nav-item">
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Details Elements -->
    <div class="details-elements">
      <button
        class="btn cart-btn"
        role="menu"
        aria-expanded="false"
        aria-label="toggle shopping cart"
      >
        <span *ngIf="cartValue > 0" class="cart-value">{{ cartValue }}</span>
        <img src="../../assets/icon-cart.svg" alt="" aria-hidden="true" />
      </button>
      <button
        class="btn profile-btn"
        role="menu"
        aria-expanded="false"
        aria-label="open user settings"
      >
        <img src="../../assets/image-avatar.png" alt="" aria-hidden="true" />
      </button>
    </div>
  </nav>
</header>
