// Carousel Styles
.carousel {
  width: 100%;
  position: relative;
}

.carousel-images {
  width: 100%;
}

// Carousel Button Styles
.next,
.prev {
  position: absolute;
  top: 50%;

  background-color: white;
  width: 40px;
  height: 40px;

  display: grid;
  place-items: center;

  border-radius: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  img {
    width: 25%;
  }
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .desktop {
    display: block;
  }

  .next,
  .prev {
    display: none;
  }

  .carousel-images {
    display: flex;
    margin-top: 2em;
  }

  .current-img {
    max-width: 500px;
    margin: auto;
    border-radius: 1em;
  }
  .preview-images {
    display: flex;
    gap: 1em;
    justify-content: center;
    .carousel-images {
      max-width: calc(500px / 4 - 1em);
      img {
        border-radius: 1em;
      }
    }
  }
}
