<section class="carousel" aria-label="product images">
  <!-- MAIN IMAGE -->
  <div class="current-image carousel-images">
    <img
      class="current-img"
      [src]="'../../assets/image-product-' + index + '.jpg'"
      alt=""
    />
  </div>
  <div class="preview-images desktop">
    <!-- PREVIEW IMAGES -->
    <button
      role="button"
      aria-label="switch to preview image"
      class="carousel-image"
      *ngFor="let image of previewImages; let i = index"
      [ngClass]="i + 1 === index ? 'active' : ''"
      (click)="setCurrentImage(i + 1)"
    >
      <img src="{{ image }}" alt="" />
    </button>
  </div>

  <!-- ARROW BUTTONS FOR MOBILE -->
  <button
    role="button"
    aria-label="previous"
    class="prev"
    (click)="carouselSwitch(true)"
  >
    <img src="../../assets/icon-previous.svg" alt="" aria-hidden="true" />
  </button>

  <button
    role="button"
    aria-label="next"
    class="next"
    (click)="carouselSwitch(true)"
  >
    <img src="../../assets/icon-next.svg" alt="" aria-hidden="false" />
  </button>
</section>
