<main class="product-details">
  <app-product-gallary></app-product-gallary>
  <section class="details">
    <h1 class="product-title">Fall Limited Edition Sneakers</h1>
    <p>
      These low-profile sneakers are your perfect casual wear companion.
      Featuring a durable rubber outer sole, they'll withstand everything the
      weather can offer.
    </p>
    <div class="price-card">
      <h2>$125.00</h2>
      <span class="percent-off">50%</span>
      <span class="total-off">$250.00</span>
    </div>
    <div class="cart-controls">
      <div class="controls">
        <button class="increment-control">
          <img src="../../assets/icon-minus.svg" alt="" aria-hidden="true" />
        </button>
        <input type="number" value="0" />
        <button class="increment-control">
          <img src="../../assets/icon-plus.svg" alt="" aria-hidden="true" />
        </button>
      </div>
      <button class="cart-btn">
        <img src="../../assets/icon-cart-white.svg" alt="" aria-hidden="true" />
        Add to cart
      </button>
    </div>
  </section>
</main>
